
public/
site/public/
node_modules/
resources/

site/static/img/
site/static/img-preview/
site/static/img-fallback/

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Local Netlify folder
.netlify

.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.idea/
